<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="io.github.qudgns200.dao.ImageDao">
	<select id="selectAll" resultType="io.github.qudgns200.model.Image">
		SELECT * FROM IMAGE ORDER BY NO DESC
	</select>
	
	<select id="selectOne" parameterType="int" resultType="io.github.qudgns200.model.Image">
		SELCT * FROM IMAGE WHERE NO=#{NO}
	</select>
	
	<insert id="insertImage" parameterType="java.util.HashMap">
			INSERT INTO IMAGE (EMAIL, TITLE, IDESC, IMAGE)
			VALUES (#{EMAIL}, #{TITLE}, #{DESC}, #{IMAGE})
	</insert>
</mapper>